--- 
layout: base 
nav_title: Get Help 
nav_priority: 1 
meta_desc: Get Help - Where to get help with OpenShift Online 
title: Get Help
---


<h1>Get Help</h1>

<p class="lead">There are lots of different ways to get help using OpenShift Online. Please review the below options and choose the one that is right for you.</p>


<section class="text-center">
  <h2 class="strikethrough"><span>Technical Support</span></h2>
  <p class="lead">If you are subscribed to a Dedicated Node or Silver plan you can open a support case with Red Hat's Award Winning Global Support Services (GSS).</p>
  <a role="button" class="btn btn-openshift btn-sm" href="https://access.redhat.com/support/cases">Open or Track a Technical Support Case</a>
</section>
<section class="text-center">
  <h2 class="strikethrough"><span>Billing</span></h2>
  <p class="lead">All billing issues are handled by our Customer Service department.  Please click the below link to find the correct contact information for your region.</p>
  <a role="button" class="btn btn-openshift btn-sm" href="https://access.redhat.com/support/contact/customerService/">Contact the Billing Department</a>
</section>
<section class="text-center">
  <h2 class="strikethrough"><span>Community Support</span></h2>
  <p class="lead">Leverage the collective intelligence of the OpenShift Online Community to help you resolve common (and not so common) coding and configuration issues.  Community members include <a href="https://github.com/openshift/origin-server/graphs/contributors">OpenShift Origin Contributors</a>, Evangelists, <a href="https://blog.openshift.com/announcing-the-openshift-accelerator-program/">Accelerators</a>, Red Hat Developers, Engineers, and System Administrators from all over the world.</p>
  <div class="feature-group">
    <div class="row">
      <div class="col-sm-6" style="border-right:1px solid #bbbdbf;">
        <div class="feature">
          <a href="http://stackoverflow.com/questions/tagged/openshift">
            <img style="padding:10px;" src="/images/stackoverflow_logo.png">
          </a>
          <p class="fixedheight">Stack Overflow is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>
            <a role="button" class="btn btn-openshift btn-sm" href="http://stackoverflow.com/questions/ask?tags=openshift">Ask a Programming Question</a>

        </div>
      </div>
      <div class="col-sm-6" style="">
        <div class="feature">
          <a class="bloc" href="https://www.openshift.com/irc" >
            <h1 style="padding-top:20px;"><i class="fa fa-comments-o"></i> Chat on IRC</h1>
          </a>
          <p class="fixedheight">Want to chat with other OpenShift Online users in real time?  Check out the #openshift channel on <a href="https://freenode.net">freenode</a> and get crowdsourced answers from those that have been there and done that (some even got t-shirts).</p>
          <a role="button" class="btn btn-openshift btn-sm" href="https://www.openshift.com/irc">Join the Conversation</a>
          
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <h2 class="strikethrough"><span>Need a faster resolution?</span></h2>
  <p class="lead">Need some one-on-one help with an issue you are having?  Upgrade to the Silver plan.  Please review the <a href="https://access.redhat.com/support/offerings/openshift/soc">Scope of Coverage</a> to see what is officially supported.</p>
  <a role="button" class="btn btn-openshift btn-sm" href="https://openshift.redhat.com/app/account/plans/silver/upgrade">Upgrade to the Silver plan</a>
</section>
<section class="text-center">
  <h2 class="strikethrough"><span>Contact Us</span></h2>
  <p class="lead">Have a pre-sales question about OpenShift Online that you can't find the answer to? Have a technical issue and just need a nudge in the right direction?  Use the below link to submit a request and we will do what we can to help you.</p>
  <a role="button" href="/en/contact.html" class="btn btn-openshift">Submit a Request</a>
</section>
