%footer.footer-openshift
  .container
    .row
      .col-md-3.col-xs-6.logo
        %a{"href"=>"https://www.redhat.com/"}
      .col-md-9.col-xs-6.text-right
        %a{"href"=>"https://www.openshift.com/legal/openshift_privacy"}
          Privacy Policy
        %a{"href"=>"https://www.openshift.com/legal/services_agreement"}
          Terms and Conditions
