%div.navbar.navbar-default.navbar-openshift{"role"=>"navigation"}
  %div.navbar-header
    %div.dropdown
      %a.dropdown-toggle.navbar-menu{"href"=>"#", "data-toggle"=>"dropdown"}
        %span.navbar-menu-title
          MENU
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %ul.dropdown-menu
        %li
          %a{"href"=>"https://www.openshift.com/products"}
            Products
        %li
          %a{"href"=>"https://www.openshift.com/products/pricing"}
            Pricing
        %li.active
          %a{"href"=>"https://developers.openshift.com"}
            Developer Portal
        %li
          %a{"href"=>"https://help.openshift.com"}
            Help Center
        %li
          %a{"href"=>"https://openshift.uservoice.com"}
            Vote on Features
        %li
          %a{"href"=>"https://marketplace.openshift.com/"}
            Add-ons
        %li
          %a{"href"=>"https://blog.openshift.com/"}
            Blog
        %li.divider.hidden-md.hidden-lg
        %li.hidden-md.hidden-lg
          %a.nav-log-in{"href"=>"https://openshift.redhat.com/app/console"}
            Log in
        %li.hidden-md.hidden-lg
          %a.nav-sign-up{"href"=>"https://www.openshift.com/app/account/new"}
            Sign up free
    %a.navbar-brand{"href"=>"/"}
    %button.navbar-toggle.collapsed{"type"=>"button", "data-toggle"=>"collapse", "data-target"=>".navbar-collapse"}
      %span.sr-only
        Toggle search
  %div.navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        %a.nav-search{"href"=>"#", "data-toggle"=>"collapse", "data-target"=>"#navbar-search-field"}
          %i.fa.fa-search
        %div#navbar-search-field.collapse.width.col-md-4
          %form#cse-search-form{"action"=>"https://help.openshift.com/hc/en-us/search", "method"=>"get"}
            %input#cse-search-input.navbar-search-query.form-control{"name"=>"query", "type"=>"text", "placeholder"=>" Search All Sites", "tabindex"=>"1", "autocomplete"=>"off", "autofocus"=>"autofocus"}
            %button.btn.btn-default.fa.fa-search{"type"=>"submit", "value"=>"Search"}
      %li.hidden-xs.hidden-sm
        %a.nav-log-in{"href"=>"https://openshift.redhat.com/app/console"}
          Log in
      %li.hidden-xs.hidden-sm
        %a.nav-sign-up{"href"=>"https://www.openshift.com/app/account/new"}
          Sign up free
