%link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.static_assets_url}/subdomain.css" }
%link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/devcenter.css" }
%link{ :rel=>'shortcut icon', :type=>'text/css', :href=>"https://www.openshift.com/sites/all/themes/openshift-theme/favicon.ico" }