ErrorDocument 404 /404.html

Redirect /en/index.html https://developers.openshift.com/index.html
Redirect 301 /en/php-zend.html https://developers.openshift.com/en/zend-overview.html

RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
