!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Developer Center
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/bootstrap.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/dashboard.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} OpenShift Developer Center
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"} Documentation
            %li
              %a{href: "#"} Support
          %form.navbar-form.navbar-right
            %input.form-control{placeholder: "Search...", type: "text"}/
            / /.nav-collapse
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              %a{href: "#"} Introduction to PaaS
            %li
              %a{href: "#"} Getting Started
            %li
              %a{href: "#"} Platform Features
          %ul.nav.nav-sidebar
            %li
              %a{href: "/en/java"} Java
            %li
              %a{href: ""} PHP
            %li
              %a{href: ""} Node.js
            %li
              %a{href: ""} Python
            %li
              %a{href: ""} Ruby
            %li
              %a{href: ""} Perl
            %li
              %a{href: ""} More Languages
          %ul.nav.nav-sidebar
            %li
              %a{href: ""} Jenkins
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          %h1.page-header Welcome to the Developer Center
          ~ content
      %hr
      %footer
        %p &copy; Shawn Purtell #{Date.today.year}
      %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap.js" }
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }

