---

title: Report Content Issue

description: Report Content Issue - documentation related issues
---

<h1>Report Content Issue</h1>

<p class="lead"> Found a typo in the Developer Center documentation? Have suggestions for content improvement? The content is outdated and needs to be updated?
Use our <a href="https://github.com/openshift/devcenter/issues/">GitHub repository</a> and let us know!</p>


<section class="text-center">
  <h2 class="strikethrough"><span>Developer Center Documentation Issues</span></h2>
  <p class="lead">
    Use our GitHub repository if you have any suggestions to improve our Developer Center content. Your feedback is welcome!
  </p>
  <div class="feature-group">
    <div class="row">
      <div class="col-sm-12" style="">
        <div class="feature">
          <a role="button" class="btn btn-openshift btn-sm" href="https://github.com/openshift/devcenter/issues/">Developer Center Documentation Issues</a>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-center">
  <h2 class="strikethrough"><span>Technical Issues | Community Support</span></h2>
  <p class="lead">Leverage the collective intelligence of the OpenShift Online Community to help you resolve common (and not so common) coding and configuration issues.  Community members include <a href="https://github.com/openshift/origin-server/graphs/contributors">OpenShift Origin Contributors</a>, Evangelists, <a href="https://blog.openshift.com/announcing-the-openshift-accelerator-program/">Accelerators</a>, Red Hat Developers, Engineers, and System Administrators from all over the world.</p>
  <div class="feature-group">
    <div class="row">
      <div class="col-sm-6" style="border-right:1px solid #bbbdbf;">
        <div class="feature">
          <a href="http://stackoverflow.com/questions/tagged/openshift">
            <img style="padding:10px;" src="/images/stackoverflow_logo.png">
          </a>
          <p class="fixedheight">Stack Overflow is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>
            <a role="button" class="btn btn-openshift btn-sm" href="http://stackoverflow.com/questions/ask?tags=openshift">Ask a Programming Question</a>

        </div>
      </div>
      <div class="col-sm-6" style="">
        <div class="feature">
          <a class="bloc" href="https://www.openshift.com/irc" >
            <h1 style="padding-top:20px;"><i class="fa fa-comments-o"></i> Chat on IRC</h1>
          </a>
          <p class="fixedheight">Want to chat with other OpenShift Online users in real time?  Check out the #openshift channel on <a href="https://freenode.net">freenode</a> and get crowdsourced answers from those that have been there and done that (some even got t-shirts).</p>
          <a role="button" class="btn btn-openshift btn-sm" href="https://www.openshift.com/irc">Join the Conversation</a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top: 30px;">
        <div class="feature">
          <a class="bloc" href="https://groups.google.com/forum/#!forum/openshift" >
            <h1 style="padding-top:20px;"><i class="fa fa-envelope-o"></i> Community Mailing List</h1>
          </a>
          <p class="fixedheight"> Not all questions are purely technical or meet the Stack Overflow <a href="http://stackoverflow.com/help/on-topic">on-topic guidelines</a>. For such questions we've created a mailing list where you can easily share your thoughts or questions. You can also subscribe to get updates on other users' issues or join the community and share your expertise!</p>
          <a role="button" class="btn btn-openshift btn-sm" style="margin-top: -40px" href="https://groups.google.com/forum/#!forum/openshift">Go to the Mailing List</a>
        </div>
      </div> <!-- end col-sm-6 -->
    </div> <!-- end row -->
  </div>
</section>
